@import './Base/reset';
@import './Components/header';
@import './Components/button';
@import './Components/text';
@import './Components/img';
@import './Components/icon';
@import './Components/ideapreview';

@import './Helpers/variable';
@import './Layouts/home';

.table-user {
    box-sizing: border-box;
    padding: 12px;
    margin: 30px 20px;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
}
.create-button {
    margin: 20px;
}

.search-area {
    margin: 20px;
}

.create-user-area {
    box-sizing: border-box;
    padding: 20px;
    margin: 80px;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
}