@import '../Helpers/_variable.scss';
.spinner-container {
   width: 100vw;
   height: 100vh;
   .cssload-loader {
      position: relative;
      left: 50%;
      top: 40%;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      perspective: 780px;
   }

   .cssload-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 50%;
   }

   .cssload-inner.cssload-one {
      left: 0%;
      top: 0%;
      animation: cssload-rotate-one 1.15s linear infinite;
      border-bottom: 5px solid $-blue-1;
   }

   .cssload-inner.cssload-two {
      right: 0%;
      top: 0%;
      animation: cssload-rotate-two 1.15s linear infinite;
      border-right: 5px solid $-blue-1;
   }

   .cssload-inner.cssload-three {
      right: 0%;
      bottom: 0%;
      animation: cssload-rotate-three 1.15s linear infinite;
      border-top: 5px solid $-blue-1;
   }
}

@keyframes cssload-rotate-one {
   0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
   }
   100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
   }
}

@keyframes cssload-rotate-two {
   0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
   }
   100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
   }
}

@keyframes cssload-rotate-three {
   0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
   }
   100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
   }
}

.disappear {
   opacity: 0;
   position: absolute;
   z-index: -1;
   display: none;
}

.disable-hover {
   &:hover {
      background: white !important;
   }
}

.font-poppin {
   font-family: $-poppin;
}
