@import '../Helpers/_variable.scss';
.button-blue {
   background-color: $-blue-2;
   transition: all 0.3s;
   border-radius: $-br-2;
   font-family: $-poppin;
   line-height: $-lh-1;
   color: $-white-1;
   &:hover {
      background-color: $-blue-1;
   }
}

.button-upload-img {
   padding: 10px 25px;
   border: 2px solid $-green-1;
   border-radius: 8px;
   color: $-green-1;
   transition: all 0.3s;
   cursor: pointer;
   &:hover {
      background: $-green-2;
   }
   p {
      font-weight: 600;
   }
}

.button-post {
   overflow: hidden;

   .fa-paper-plane {
      animation: 0.7s slide-right;
   }
}

@keyframes slide-right {
   0% {
      transform: translate(0, 0);
   }
   20% {
      transform: translate(340%, -400%);
   }
   50% {
      transform: translate(0, 800%);
   }
   75% {
      transform: translate(-340%, 400%);
   }
   100% {
      transform: translate(0, 0);
   }
}
