.pagin-list {
   list-style: none;
   color: $-blue-2;
   font-weight: 600;
   &.active {
      background-color: $-blue-5;
      border-radius: 4px;
   }
   .pagin-link {
      text-decoration: none;
   }
   &:hover {
      text-decoration: none;
      color: $-blue-2;
   }
}
