@import '../Helpers/_variable.scss';
.title-1 {
   font-family: $-poppin;
   font-weight: 700;
   font-size: 1.7rem;
   line-height: $-lh-1;
   margin-bottom: 5%;
}

.title-2 {
   font-family: $-poppin;
   font-weight: 700;
   font-size: $-fs-1;
}
.text-button-transparent {
   padding-left: 5%;
}

.title-3 {
   font-family: $-poppin;
   font-weight: 700;
   color: #2B6CB0;
   font-size: 1.7rem;
   line-height: $-lh-1;
   margin-top: 20px;
}
