@import '../Helpers/_variable.scss';

.cardForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    width: 90%;
    height: 520px;
}

.heading {
    font-family: $-poppin;
    font-weight: bolder;
    color: $-blue-1;
    text-align: center;
    margin-top: 30px;
}

.resetPass {
    text-align: center;
    margin-bottom: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actionBtn {
    align-self: center;
    margin-top: 20px;
}

