@import '../Helpers/_variable.scss';

.cardForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    width: 90%;
    height: 400px;
}

.heading {
    font-family: $-poppin;
    font-weight: bolder;
    color: $-blue-1;
    text-align: center;
    margin-top: 30px;
}

.formBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.actionBtn {
    align-self: center;
    margin-top: 20px;
}

.table-user {
    box-sizing: border-box;
    padding: 12px;
    margin: 30px 20px;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
}
.create-button {
    margin: 20px;
}

.search-area {
    margin: 20px;
}

.create-user-area {
    box-sizing: border-box;
    padding: 20px;
    margin: 80px;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
}
