//Color
$-black-1: #000000;
$-red-1: #ff0000;
$-red-2: #e53e3e;
$-blue-1: #2b6bb1;
$-blue-2: #3182ce;
$-blue-3: #171923;
$-blue-4: #53a3ff56;
$-blue-5: #e8f4f9;
$-blue-6: #1a202c;
$-blue-7: #44337a;
$-white-1: #ffffff;
$-white-2: #e4e9ff;
$-yellow-1: #d7b12a;
$-orange-1: #744210;
$-pink-1: #702459;
$-grey-1: #e2e8f0;
$-grey-2: rgba(240, 240, 240, 0.71);
$-green-1: rgba(56, 161, 105, 1);
$-green-2: #e6fffa;

//Padding:
$-pd-1: 0;
$-pd-2: 4px;
$-pd-3: 12px;
$-pd-4: 16px;
$-pd-5: 24px;
$-pd-6: 48px;

$-poppin: 'Poppins', sans-serif;

//Border-radius:
$-br-1: 2px;
$-br-2: 6px;
$-br-3: 10px;

//Border
$-border-1: 1px solid #e2e8f0;
$-border-2: 1px solid #3182ce;

//Line Height
$-lh-1: 24px;

$-fs-1: 16px;
$-fs-2: 18px;

//box-shadow
$-bs-1: 0 2px 4px rgba(0, 0, 0, 0.18);
$-bs-2: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
$-bs-3: 0 6px 20px rgba(0, 0, 0, 0.2);
$-bs-4: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
