//Color
$-black-1: #000000;
$-red-1: #ff0000;
$-red-2: #e53e3e;
$-blue-1: #2b6cb0;
$-blue-2: #3182ce;
$-blue-3: #171923;
$-blue-4: #a0aec0;
$-blue-5: #2d3748;
$-blue-6: #1a202c;
$-blue-7: #44337a;
$-white-1: #ffffff;
$-yellow-1: #d7b12a;
$-orange-1: #744210;
$-pink-1: #702459;

//Padding:
$-pd-1: 0;
$-pd-2: 4px;
$-pd-3: 12px;
$-pd-4: 16px;
$-pd-5: 24px;
$-pd-6: 48px;

$-poppin: 'Poppins', sans-serif;

//Border-radius:
$-br-1: 2px;
$-br-2: 6px;
$-br-3: 10px;

//Border
$-border-1: 1px solid #e2e8f0;
$-border-2: 1px solid #3182ce;

//Line Height
$-lh-1: 24px;
